<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% load bootstrap4 %}
{% block content %}
<h2>Login</h2>
<form method="post" id="login-form" action="{% url 'django.contrib.auth.views.login' %}" class="pure-form pure-form-aligned">
<fieldset>
    <div class="pure-control-group">
        {% csrf_token %}
        <table class="table">
            <tr>
                <td><input id="id_username" name="username" type="text" class="form-control"></td>
            </tr>
            <tr>
                <td><input id="id_password" name="password" type="password" class="form-control"></td>
            </tr>
        </table>
        {% if form.errors %}
            <p class=" label label-danger">
                Your username and password didn't match. Please try again.
            </p>
        {% endif %}
        
        <input type="submit" value="Login" class="btn btn-primary pull-right" />
        <input type="hidden" name="next" value="(( next ))" />
    </div>
    <div class="pure-controls">
        <button type="submit">Login</button>
    </div>
</fieldset>
</form>
{% endblock %}
