{% extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
    <form action="{% url 'details' %}" target="_blank" method="POST">{% csrf_token %}
        <div class="form-group">
            <label for="enterPillName">Pill Name</label>
            <input type="text" class="form-control" id="enterPillName">
	</div>
        <br>
        <div class="form-group">
            <label for="enterTime">Enter Time</label>
            <input type="time" id="enterTime">
            <input type="submit" name="Add_Time" class="form-control" value="Add Time" /><br>
        </div>
        <br>
        <div>
            <button type="button">Save</button>
        </div>
    </form>
{% endblock %}
