<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Base Template{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    {% load static %}
    {% load bootstrap4 %}
    <link rel="stylesheet" href="{% static 'css/side-menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
    ga('create', 'UA-41480445-1', 'purecss.io');
    ga('send', 'pageview');
    </script>

</head>
<body>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>
    <div id="menu">
        <div class="pure-menu">
            <img src="{% static 'images/ags.jpeg' %}" alt="Albany Guardian Society" style="width:150px;">
            <a class="pure-menu-heading" href="/">Home</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="{% url 'schedule' %}" class="pure-menu-link">Calendar</a>
                </li>
                
                <li class="pure-menu-item">
                    <a href="{% url 'dispenser' %}" class="pure-menu-link">My Pills</a>
                </li>
                {% if not user.is_authenticated %}
                <li class="pure-menu-item">
                    <a href="{% url 'login' %}" class="pure-menu-link">Log In</a>
                </li>
                {% else %}
                <li class="pure-menu-item">
                    <a href="{% url 'logout' %}" class="pure-menu-link">Log Out</a>
                </li>
                {% endif %}
                
            </ul>
        </div>
    </div>
</div>
<div style="position:relative">
<div class="main">
        {% block content %}
        {% endblock %}
</div>
</div>
<script src="{% static 'js/ui.js' %}"></script>
</body>
</html>
